
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  widht: 100vw;
  blackground: linear-gradient(72deg, #E0FFFF 1%, #008080 99%);
}

.content{
  height: 520px;
  widht: 935px;
  border-radius: 20px;
  overflow: hidden;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
