header{
    text-align: center;
    padding: 20px;
    background-color: "#66ccff";
}

.aqui{
    background-color: lightblue;
    flex-wrap: row;
    justify-content: space-evenly;
    text-align: center;
}
