header{
    background-color: cadetblue;
    color: midnightblue;
    text-align: center;
    padding: 20px;
}

.aqui{
    text-align: center;
    color: midnightblue;
    padding: 20px;
    border-style: outset;
    
}
