header{
    background-color: cadetblue;
    text-align: center;
    padding: 20px;
}

.aqui{
    background-color: lightblue;
    text-align: left;
    color: midnightblue;
    padding: 20px;
    
}
